
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
  }
  #navbarSupportedContent{
    font-size: 23px;
  }
  #dropdown{
    font-size: 20px ;
  }
  .nav{
    margin: 0px 20px;
  }
  .carousel-inner{
    height: 45vh;
  }
  .form-inline{
    margin-left: 400px;
    margin-right: 10px;
    line-height: 30px;
  }
  .template-demo{
    float: right;
    margin-left: 10px;
  } 

  body{margin-top:20px;}
  .py-5 {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
  }
  .pt-5 {
      padding-top: 3rem !important;
  }
  .my-5 {
      margin-top: 3rem !important;
      margin-bottom: 3rem !important;
  }
  .border-0 {
      border: 0 !important;
  }
  .position-relative {
      position: relative !important;
  }
  .shadow-lg {
      box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
  }
  .card {
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,0.125);
      border-radius: .25rem;
  }
  
  .member-profile {
      top: -50px;
      left: 0;
  }
  .text-center {
      text-align: center !important;
  }
  .w-100 {
      width: 100% !important;
  }
  .position-absolute {
      position: absolute !important;
  }
  
  .member-profile img {
      width: 100px;
      height: 100px;
  }
  .rounded-circle {
      border-radius: 50% !important;
  }
  .mx-auto {
      margin-right: auto !important;
      margin-left: auto !important;
  }
  .shadow-sm {
      box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
  }










  body {
    background-color: #f1f1f1;
}
.ourTeam-hedding p{
    color: #979797;
}
.ourTeam-hedding strong{
    color: black;
}
.ourTeam-hedding{
    margin-bottom: 50px;
}
.ourTeam-hedding h1{
    font-size: 25px;
    font-weight: bold;
    color: #145889;
}
.ourTeam-box{
    border-radius: 2px;
    border-top: 6px solid #5DDDD3;
    margin: 0px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.section1{
    padding: 30px 0px 30px 0px;
}
.section1 img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
}
.section2 p{
    font-weight: bold;
    color: #5DDDD3;
    letter-spacing: 1px;
}
.section2 span{
    color: #979597;
}
.section3{
    background-color: #5DDDD3;
}
.section3 i{
    color: #ffffff !important;
    padding: 15px;
    font-size: 15px;
}
.section-info{
    border-top: 6px solid #90DFAA;
}
.section-info p{
    color: #90DFAA;
}
.section-info .section3{
    background-color: #90DFAA;
}
.section-danger{
    border-top: 6px solid #FD8469;
}
.section-danger p{
    color: #FD8469;
}
.section-danger .section3{
    background-color: #FD8469;
}
body h1{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}
.member-profile img{
    height: 120px;
    width: 120px;
}
body p{
    text-align: center;
     color: #514f4f;
}
.para{
    padding: 30px;
    margin-left: 200px;
    margin-right: 200px;

}
