*{
    margin: 0;
    padding: 0;
    background-color: #eff7ff;
    box-sizing: border-box;
}
.container{
    width: 100%;
}

#greet img{
    margin: 0;

    height: 100vh;
    width: 100%;
    filter: blur(8px);
  -webkit-filter: blur(0.5px);
    position: absolute;
}
.text{
    text-align: center;
    margin: auto;
}
#login_button{
    position: relative;
    margin: auto;
    top: 90vh;
    text-align: center;
    border-width: 5px;
    padding: 7px 12px;
    border-color: #086a97;
    color: white;
    background-color:  deepskyblue;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.4s ;
}

#login_button:hover{
    
    border-color: #086a97;;
    color: white;
    background-color: #086a97;
    padding: 10px 20px;
}
#name{
    position: relative;
    background: transparent;
    top: -30px;
    font-size: 100px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke:1px white ;
    background-image: url(image/back.png);
    -webkit-background-clip: text;
    background-position: 0 0 ;
    animation: back 10s linear infinite;
} 
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}
#tagline{
    position: relative;
    background: transparent;
    
    color: #daf0f7;
    text-align: center;
    /* left: 200px;
    right: -200px; */
    padding-left: 430px;
    top: -20px;
    stroke: black;
    stroke-width: 5px;
    font-size: 35px;
    text-shadow: 2px 2px 5px black;
}
@media screen and (max-width : 760px) {
    #tagline{
        padding-left: 0px;
    }

    
}